/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #f71963;
  --ifm-color-primary-dark: #ed0854;
  --ifm-color-primary-darker: #df0850;
  --ifm-color-primary-darkest: #b80642;
  --ifm-color-primary-light: #f83375;
  --ifm-color-primary-lighter: #f8407e;
  --ifm-color-primary-lightest: #fa6898;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

p {
  font-size: 1rem !important;
}

.footer.footer--dark {
  background-color: #142032;
}